body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  min-height: 100vh;
  max-width: 375px;
}


.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto  1fr;
  
  background-image: image-set(
    var(--background-image-dark-1x) 1x,
    var(--background-image-dark-2x) 2x
  );
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
  position: relative;
  min-height: 668px;
  
  /*background-attachment: fixed;*/
  
  
  
}

/*
display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  position: relative;
  background-image: image-set(
    var(--background-image-dark-1x) 1x,
    var(--background-image-dark-2x) 2x
  );
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
  /*background-attachment: fixed;*/



.header__theme-menu {
  /*display: grid;
  justify-self: end;
*/
  margin-top: 75px;
  margin-right: 10px;
  
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  justify-self: end;
  align-items: start;
  
  
  
  
}
/*
.header__theme-menu-list {
  list-style: none;
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 400;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  text-transform: lowercase;
  padding: 0 13px 0 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border-color: var(--accent-color-transparent);
} 

.header__theme-menu-button:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-right: 0;
  border-left: 0;
  border-top: 0;
}

*/
/*
.header__rec {
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-color);
}

/*кружок*/

/*
.header__rec::after { 
  content: "";
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px #FF0070;
}

/*Уголок*/
/*
.header__corner-top-right {
  grid-row: 1;
  justify-self: end;
  
  */




  /*content: "";
  position: absolute;
  border-top: 1px solid var(--accent-color); 
  border-right: 1px solid var(--accent-color);
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;*/
}
.header__corner-top-right:after {
  content: "";
  border-top: 1px solid var(--accent-color); 
  border-right: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: 10px;
}


/*Треугольник нижний*/
.header__corner-bottom-left {
  grid-row: 4;
  justify-self: start;
  




  
  /*content: "";
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;*/
}

.header__corner-bottom-left:before {
  content: "";
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
  margin-bottom: 30px;
  padding-left: 10px;
}


.header__title {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  justify-self: end;
  text-align: left;
  font-size: var(--heading-font-size);
  color: var(--header-title-color);
  text-shadow: var(--header__shadow-color);
  line-height: 95.7px;
  margin: 238px 10px 55px 10px;
  
}

.header__subtitle {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  

  color: var(--highlight-text-color);
  background-color: var(--title-decor);
  font-size: var(--font-size-base);
  font-weight: 700;
  margin: 0 10px 66px 10px;
  line-height: 23.4px;
  text-align: left;
}




/*тело*/

.main {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr;
}

.section {
  line-height: 23.4px;
  text-align: left;
  padding: 0 10px;
  max-width: 375px;
}

.section__title {
  font-size: var(--font-size-base);
  font-weight: 700;
  color: var(--accent-color);
  
}

.section__subtitle {
  font-size: var(--font-size-base);
  font-weight: 700;
  color: var(--highlight-text-color);
  background-color: var(--title-decor);
  margin-top: 20px;
  margin-bottom: 10px;
}

.section__article {
  font-size: var(--font-size-base);
  font-weight: 400;
  color: var(--text-color);
}

.section__tip {
  font-weight: 400;
  background-color: var(--title-decor);
  color: var(--background-color);
  margin-top: 20px;
  margin-bottom: 10px;
}

.section__highlight {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.section__highlight:hover {
  border-bottom-color: currentColor;
}

.section__highlight:focus {
  outline: 1px solid var(--text-color);
}

.images {
  display: grid;
  gap: 10px;
}

.images img {
  max-width: 100%; /* Ограничивает ширину изображения */
  height: auto; /* Сохраняет пропорции */
} 





/*footer*/
.footer__container {
  display: grid;
  margin: 10px;
  grid-template-rows: 1fr auto 1fr; /* Разделение на 3 строки */
  grid-template-columns: 1fr 1fr; /* Две колонки */
  text-align: center;
}

.footer__title {
  padding: 286px 13px 286px 13px;
  grid-column: span 2; /* Центрирование по двум колонкам */
  align-self: center;
  justify-self: center;


  font-size: var(--heading-font-size);
  color: var(--header-title-color);
  text-shadow: var(--footer__shadow-color);
  text-align: left;
  line-height: 95.7px;
}

.footer__corner-top-right {
  grid-column: 2;
  justify-self: end;
}

.footer__corner-top-right:after {
  content: "";
  border-top: 1px solid var(--accent-color); 
  border-right: 1px solid var(--accent-color);
  display: block;
  width: 25px;
  height: 25px;
}

.footer__corner-bottom-left {
  grid-column: 1;
  grid-row: 3;
  justify-self: start;
}

.footer__corner-bottom-left:before {
  content: "";
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  display: block;
  width: 25px;
  height: 25px;
} 


/* > 780px */








/* > 1024px */