/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --title-decor: #ff8dcb;
  --body-title-color: #353430;
  --button-hover: #32312d66;
  --button-color: #353430;
  --decorated-color: #353430;
  --background-color: #fff1f7;
  --text-color: #353430;
  --heading-title-color: #ffc2e6;
  --highlight-text-color: #353430;
  --header__shadow-color: 4px 4px 0 var(--accent-color);
  --footer__shadow-color: 2px 2px 0 var(--accent-color);
  --bg-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --title-decor: #ff8dcb;
    --body-title-color: #353430;
    --button-hover: #32312d66;
    --background-color: #fff1f7;
    --text-color: #353430;
    --heading-title-color: #ffc2e6;
    --highlight-text-color: #353430;
    --header__shadow-color: 4px 4px 0 var(--accent-color);
    --footer__shadow-color: 2px 2px 0 var(--accent-color);
    --bg-image: url("../images/cover-image-light.png");
  }
}