body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  min-height: 100vh;
  max-width: 375px;
  font-size: var(--main-font-size);
  
}


.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 4fr minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) auto minmax(0, 1fr);
  

}

.header__theme-menu {
  grid-column: 3 / 4;
  grid-row: 1;
  padding-top: 75px;
  padding-right: 10px;
  font-family: var(--font-family);
  line-height: 18px; /* 100% */
  display: flex;
  justify-content: end;
  align-items: start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  
  
  
}

.header__theme-menu-button {
  color: var(--accent-color);
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 400;
  text-transform: lowercase;
  padding: 1.5px 13px;
  line-height: 1;
  font-size: var(--main-font-size);
  
  
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border-color: var(--accent-color-transparent);
} 

.header__theme-menu-button:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-right: 0;
  border-left: 0;
  border-top: 0;
}


/* Заголовок */
.header__title {
  grid-column: 1 / 4;
  grid-row: 2;
  text-align: left;
  font-size: var(--heading-font-size-mobile);
  color: var(--header-title-color);
  text-shadow: var(--header__shadow-color);
  line-height: 82.5%;
  font-weight: 700;
  margin: 55px 10px 55px 10px;
}

.header__subtitle {
  grid-column: 1 / 4;
  grid-row: 3;
  text-align: center;
  color: var(--highlight-text-color);
  background-color: var(--title-decor);
  font-size: var(--main-font-size);
  font-weight: 700;
  margin: 0 10px 66px 10px;

  text-align: left;
}


.main {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr;
  background-color: var(--background-color);
  padding-top: 40px;
}

.main__section {
  line-height: 23.4px;
  text-align: left;
  padding: 0 10px;
  max-width: 375px;
}

.section__title {
  font-size: var(--font-size-base);
  font-weight: 700;
  color: var(--accent-color);
  
}

.section__subtitle {
  font-size: var(--font-size-base);
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section__subtitle:last-child {
  margin-top: 0;
}

.title-decor {
  color: var(--highlight-text-color);
  background-color: var(--title-decor);
}

.section__article {
  font-size: var(--font-size-base);
  font-weight: 400;
  color: var(--text-color);
}


.section__highlight {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.section__highlight:hover {
  border-bottom-color: currentColor;
}

.section__highlight:focus {
  outline: 1px solid var(--text-color);
}

.section__tip {
  font-weight: 400;
  background-color: var(--title-decor);
  color: var(--background-color);
  margin-top: 20px;
  margin-bottom: 10px;
}


/*картинки*/
.images {
  display: grid;
  gap: 10px;
}

.images img {
  max-width: 100%; /* Ограничивает ширину изображения */
  height: auto; /* Сохраняет пропорции */
} 



.footer__container {
  display: grid;
  margin: 10px;
  grid-template-rows: 1fr auto 1fr; /* Разделение на 3 строки */
  grid-template-columns: 1fr 1fr; /* Две колонки */
  text-align: center;
  background-color: var(--background-color);
}

.footer__title {
  padding: 286px 13px 286px 13px;
  grid-column: span 2; /* Центрирование по двум колонкам */
  align-self: center;
  justify-self: center;


  font-size: var(--heading-font-size-mobile);
  color: var(--header-title-color);
  text-shadow: var(--footer__shadow-color);
  text-align: left;
  line-height: 95.7px;
}

.footer__corner-top-right {
  grid-column: 2;
  justify-self: end;
}

.footer__corner-top-right:after {
  content: "";
  border-top: 1px solid var(--accent-color); 
  border-right: 1px solid var(--accent-color);
  display: block;
  width: 25px;
  height: 25px;
}

.footer__corner-bottom-left {
  grid-column: 1;
  grid-row: 3;
  justify-self: start;
}

.footer__corner-bottom-left:before {
  content: "";
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  display: block;
  width: 25px;
  height: 25px;
} 




/* ЗНАЧОК ЗАПИСИ */
.header__rec {
  position: absolute;
  top: 10px;
  right: calc(38px - (10px + 9px)); /*Ширина и отступы :after*/
  color: var(--accent-color);
}

.header__rec:after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px #FF0070;
  grid-area: none;
}


/*УГОЛКИ*/

.corner-top-right {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  align-self: start;
}

.corner-bottom-left {
  grid-column: 1; 
  grid-row: 3; 
  justify-self: start; 
  align-self: end;
}

.corner-top-right:before,
.corner-bottom-left:after {
  content: "";
  display: block;
  border: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
}

.corner-top-right:before {
  border-bottom: none;
  border-left: none;
  margin: 10px 10px 0 0;
}

.corner-bottom-left:after {
  border-right: none;
  border-top: none;
  margin: 0 0 10px 10px;
}
