/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /*Цвета*/
  --accent-color: #FF0070;
  --title-decor: #FF0070;
  --button-hover: #FF007066; 
  --button-color: #FF0070;
  --decorated-color: #FF0070;
  --background-color: #000028;
  --text-color: #F1B2CE;
  --heading-title-color: #DB00FF;
  --body-title-color: #FF0070;
  --highlight-text-color: #000028;
  --header__shadow-color: 4px 4px 0 var(--accent-color);
  --footer__shadow-color: 2px 2px 0 var(--accent-color);

  /*Шрифты*/
  --font-family: 'IBM Plex mono';
  --heading-font-size-mobile: clamp(7.25rem, 7.25rem + 0vw, 7.25rem);
  --heading-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --heading-font-size-desktop-wide: font-size: clamp(9.8125rem, 9.8125rem + 0vw, 9.8125rem);

  --main-font-size: 1.125rem;
  
  /*Отступы*/
  --gap: 10px;
  --padding: 10px;

  --bg-image: url("../images/cover-image-dark.png");
}

    /**/
   
  